#titulo{
    text-align: center;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQoE5matyUWDiCcO5wHoMQh8mWgXiBV0sqcCA&s");
    background-size: contain;
    height: 20vh;
    color:white;
    font-style: oblique;
    
}

.diseño-tarjeta{
    display: flex;
    gap: 30px;
    width: 600px;
    height: 500px;
    margin-bottom: 30px;
    
  
}
.contenido-targeta{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    -webkit-box-shadow: 10px 9px 18px 0px rgba(0,0,0,0.85);
-moz-box-shadow: 10px 9px 18px 0px rgba(0,0,0,0.85);
box-shadow: 10px 9px 18px 0px rgba(0,0,0,0.85);
}

.barra-de-navegacion{
    border:1px solid black;
    background-color:rgb(29, 28, 28);
    display: flex;
    flex-direction: row; 
    font-size: medium;   
    box-sizing: border-box;
    padding: 10px; ;
}
h3{
    font-style:oblique;
}
img{
    width: 300px;
    height: 200px;
}
li{
    list-style-type: none;
    margin: 5px 6vh;  
    padding: 0px 30px;
    transition: background-color 0.2s;
    box-sizing: border-box;
}

li:hover{
    background-color: gainsboro ;
}

li a{
    color: white;
    text-decoration: none;
 
}

a:hover{
    color: black;

    
    
}

html{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(235, 230, 230);
    text-align: center;
}

