#titulo{
    text-align: center;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQoE5matyUWDiCcO5wHoMQh8mWgXiBV0sqcCA&s");
    background-size: contain;
    height: 20vh;
    color:white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 2px 2px 0px black ;
}

.diseño-tarjeta{
    display: flex;
    gap: 30px;
    width: 600px;
    height: 500px;
    margin-bottom: 30px;
}

.diseño-tarjeta2{
    display: flex;
    gap: 30px;
    width: 600px;
    height: 500px;
    margin-bottom: 30px;
}
.contenido-targeta{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    -webkit-box-shadow: 10px 9px 18px 0px rgba(0,0,0,0.85);
-moz-box-shadow: 10px 9px 18px 0px rgba(0,0,0,0.85);
box-shadow: 10px 9px 18px 0px rgba(0,0,0,0.85);
background-color: rgb(215, 198, 181);
background-image: url("https://www.ultraimagehub.com/wallpapers/tr:flp-false,gx-0.9,gy-1,q-75,rh-3264,rw-5824,th-768,tw-1366/1236336773987041432.jpeg");
text-shadow: 2px 2px 3px black;
}

.barra-de-navegacion{
    display: flex;
    flex-direction: row; 
    background-color:rgb(7, 7, 7);
    font-size: medium;   
    padding: 0px; 
    border-radius: 10px;
    overflow: visible;
    text-shadow: 2px 2px 3px black;
    
    
}
h3{
    font-style:oblique;
    color: white
}
h2{
    color: white;
    font-family:'Times New Roman', Times, serif;
    text-shadow: 2px 2px 3px black;
}
p{
    color: white;
}
img{
    width: 300px;
    height: 200px;
}
li{
    list-style-type: none;
    margin: 0px 6vh;  
    padding: 10px 30px;
    transition: background-color 0.2s;
    position: relative;
    
}

li:hover{
    background-color: rgb(66, 64, 64) ;
    border-radius: 4px;
}

li a{
    color: white;
    text-decoration: none;
    transition: color 0.3s ease, background-color 0.3s ease;
    font-size: 16px;
    
    
   
 
}
div a{
    color:#86e9e9;
}

li a:hover{
    color: white;
    font-size: 17px;
    
}

html{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(42, 41, 41);
    text-align: center;
    font-size: large;
}

/*
--------------------------------
     **MEDIA QUERIES**
--------------------------------
Para pantallas pequeñas (Dispositivos moviles)
*/
@media (width <= 430px){
    .barra-de-navegacion{
        display: flex;
        flex-direction: column; 
        

    }
    .diseño-tarjeta{
        flex-direction: column;
        width: 90%;
        margin: 0 auto 1190px;
        

    }
    .diseño-tarjeta2{
        flex-direction: column;
        margin:0 auto ;
        width: 90%;
        
        
    }
    .contenido-targeta{
        display: inline;
    }
 
}   
